// components/Header/Header.module.scss
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    h1 {
      margin: 0;
      font-size: 2rem;
    }
  }

  &__nav {
    &-list {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 20px;
    }

    &-item {
    }

    &-link {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
